.burger {
	display: none;
}

.burger-btn {
	position: relative;
	width: 30px;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger-btn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	transform: translateY(-7.5px);
	transition: all 0.5s;
}

.burger-btn--active::before {
	transform: translateY(0);
	rotate: 45deg;
}

.burger-btn__center-line {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	transition: all 0.5s;
}

.burger-btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	transform: translateY(7.5px);
	transition: all 0.5s;
}

.burger-btn--active::after {
	transform: translateY(0);
	rotate: 45deg;
}

.burger-btn__center-line--active {
	rotate: -45deg;
}

// Burger menu

.burger-menu-wrapper {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 200;
	width: 600px;
	opacity: 0;
	pointer-events: none;
}

.burger-menu-wrapper--active {
	opacity: 1;
	pointer-events: auto;
}

.burger-menu-nav {
	color: #000;
	background: #fff;
	border-radius: 25px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.burger-menu-nav__link {
	color: #000;
	padding: 10px 0;
	font-size: 1.5rem;

	&:not(:nth-last-child(1)) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.burger-menu-nav__link--active {
	color: var(--accent-clr);
}

@media screen and (width <= 620px) {
	.burger {
		display: initial;
	}

	.burger-menu-wrapper {
		width: 100%;
	}
}
