@use "./../../scss/mixins" as *;

.home {
}

.home__top {
	min-height: 100svh;
	@include flex-center;
	text-align: center;
	font-size: 3rem;
	background-image: url("/pexels-fotios-photos-776538.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	span {
		font-family: "Dark Blow", sans-serif;
	}
}
