.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	padding: 10px 10px;
}

.footer__container {
	width: 50%;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.footer__creator {
	margin-top: 20px;
	a {
		color: hsl(0, 0%, 50%);
		transition: color 0.3s;

		&:hover {
			color: var(--accent-clr);
		}
	}
}

.footer__logo {
	color: #fff;
	align-self: center;
	font-size: 3rem;
	line-height: 40px;
}

.footer__nav {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.footer__nav-link {
	color: hsl(0, 0%, 50%);
	transition: color 0.3s;

	&:hover {
		color: var(--accent-clr);
	}
}

.footer__nav-link--active {
	color: var(--accent-clr);
}

.footer__btn {
	background: #fff;
	color: #000;
	padding: 0 7.5px;
	border-radius: 5px;
	height: 30px;
	border-radius: 15px;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

@media screen and (width < 896px) {
	.footer__container {
		width: 75%;
	}

	.footer__bottom {
		width: 75%;
	}
}

@media screen and (width < 600px) {
	.footer__container {
		width: 100%;
		flex-direction: column;
	}

	.footer__bottom {
		width: 100%;
	}
}
