@use "reset";
@use "fonts";

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Glacial Indifference", sans-serif;
	background: #000;
	color: #fff;
	height: 2000px;
}
