@use "reset";
@use "fonts";
@use "variables";

html {
	// TODO: LEARN THIS
	overscroll-behavior: none;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Glacial Indifference", sans-serif;
	background: var(--bg-clr);
	color: #fff;
}
