.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu__nav {
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	padding: 10px;
	// TODO:
	max-width: calc(100% - 20px);
	align-self: center;
	display: flex;
	justify-content: flex-start;
	position: sticky;
	top: 10px;
	z-index: 2;
	height: 50px;
	display: flex;
	column-gap: 10px;
	border-radius: 25px;
	overflow-x: scroll;
	margin-bottom: 40px;
	margin-top: 10px;

	a {
		color: #fff;
		padding: 5px;
		border-radius: 15px;
	}
}

.menu__nav-link--active {
	background: var(--accent-clr);
	color: #000 !important;
}

.menu__inner {
	width: 50%;
	padding: 0 10px;
	margin-bottom: 100px;
}

.menu__inner-title {
	font-size: 3rem;
	margin-bottom: 20px;
	scroll-margin-top: 100px;
}

.menu__item {
	display: flex;
	gap: 10px;
	padding: 10px;
	margin-bottom: 20px;
}

.menu__item--special {
	position: relative;
	border: 1px solid var(--accent-clr);
	border-radius: 10px;

	&::before {
		content: attr(data-special-value);
		position: absolute;
		top: 0;
		right: 0;
		background: var(--accent-clr);
		color: #000;
		padding: 5px;
		border-radius: 5px;
		transform: translate(-10px, -50%);
	}
}

.menu__item-img-wrapper {
	height: 72px;
	width: 110px;
	overflow: hidden;
	border-radius: 5px;
	flex-shrink: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.menu__item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
}

.menu__item-info-top {
	display: flex;
	justify-content: space-between;
}

.menu__item-info-bottom {
	color: hsl(0, 0%, 50%);
}

.menu__full-size-img {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: var(--bg-clr);

	img {
		object-fit: contain;
		height: 100%;
	}
}

.menu__full-size-img--active {
	display: flex;
}

.close-btn {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	padding: 10px;
	height: 50px;
	border-radius: 25px;
	min-width: 100px;
}

@media screen and (width < 896px) {
	.menu__inner {
		width: 75%;
	}
}

@media screen and (width < 600px) {
	.menu__inner {
		width: 100%;
	}
}
